.commentMainWrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    direction: rtl;
}


.commentsMainContainer {
    width: 98%;
    height: 300px;
    margin-top: 90px;
    background-color: rgb(227, 227, 227);
    box-shadow: -5px 5px 20px;
    border-radius: 10px;
}

.tableWrapper {
    padding: 20px 30px 20px 30px;
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr) 3fr;
    /* grid-template-rows: repeat(3, 1fr); */
    grid-gap: 40px;
}

.commentsTr {
    /* margin: 20px 30px 20px 30px;
    display: flex;
    justify-content: space-between; */
}

.commentsBtn{
    margin: 0 3px 0 3px;
}