.errorContainer{
/* flex:1; */
display: flex;
/* align-items: flex-center; */
justify-content: center;
/* justify-items: center; */
/* justify-self: center; */
/* text-justify:center; */

    background-color: rgb(166, 223, 11);
}